@import "tailwindcss";

.beer-glass {
    width: 100px;
    height: 200px;
    background: #f3f3f3;
    border: 4px solid #ccc;
    border-radius: 10px 10px 4px 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  /* Espuma */
  .beer-foam {
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  /* Líquido */
  .beer-liquid {
    width: 100%;
    height: 85%;
    background: #fbbf24; /* Cor da cerveja */
    position: absolute;
    bottom: 0;
  }